/** Custom Styles Go Here */
$spfont: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

/** Ensure the form is displayed over the modal */
#core-canvas .offcanvas {
    min-width: 450px;
    z-index: 1080;
}

/* overwrite FULL modal style as to not display full height */
.bs > .modal > div.modal-fullscreen{
    height: 75vh;
    margin: 2vh 0;
}

/* manually add font family due to corev15.css not loading on modals */
.bs {
    .modal-content{
        font-family: $spfont;
    }   
}
#loading-dialog.bs, #core-canvas.bs {
    font-family: $spfont;
}

/* add spacing below custom ISR lookup tables */
button.isrButton.btn.btn-sm{
    margin-bottom: 20px;
}

/* fix left margin on boolean fields */
.bs .form-switch .form-check-input {
    margin-left: 0;
}
.bs .form-switch .form-check-label {
    margin-left: 0.35rem;
}